# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# pip
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# VS Code, PyCharm
.vscode/
.idea/

# Test, coverage, and build artifacts
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
dist/
build/
.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Local config
*.env
.env.*

# Ignore zip files
*.zip