# Bundled pip dependencies (installed by Terraform's null_resource)
idle_check/boto3*/
idle_check/botocore*/
idle_check/s3transfer*/
idle_check/mcstatus*/
idle_check/requests*/
idle_check/certifi*/
idle_check/charset_normalizer*/
idle_check/idna*/
idle_check/urllib3*/
idle_check/dnspython*/
idle_check/asyncio_dgram*/
idle_check/jmespath*/
idle_check/dateutil*/
idle_check/six*
idle_check/bin/
idle_check/*.dist-info/
idle_check/*.so
idle_check/awscrt-stubs/
idle_check/types_awscrt*/
idle_check/dns/
idle_check/build/
idle_check/idle_check/__pycache__
